$border: 1px solid $light-grey;
table.basic-table {
    word-break: break-all;
    border-collapse: collapse;
    * {
        vertical-align: middle;
        color: $night-blue;
    }
    thead {
        tr {
            width: inherit;
            height: 40px;
            border: none;
            font-weight: 700;
            background: white;
            background: linear-gradient(to bottom, white, $light-grey);
        }
    }
    tr {
        &.l-bordered {
            border-bottom: $border;
            & > td.l-bordered {
                border: $border;
                border-top: none;
                border-bottom: none;
            }
        }
    }
    td {
        padding: 10px;
        text-align: center;
        img {
            display: block;
            height: auto;
            margin: 0 auto;
        }
    }
}