.button-transition {
    transition: $basic-transition;
}

.app-appear {
    opacity: 0.01;
    &.app-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
}

.expansion-appear {
    // for compatibility with table rows
    &,
    & td>div {
        opacity: 0.01;
        max-height: 0;
    }
    &.expansion-appear-active,
    &.expansion-appear-active td>div {
        opacity: 1;
        max-height: 500px;
        transition: max-height 500ms linear, opacity 250ms linear 500ms;
    }
}

.expansion-enter {
    // for compatibility with table rows
    &,
    & td>div {
        opacity: 0.01;
        max-height: 0 !important;
    }
    &.expansion-enter-active,
    &.expansion-enter-active td>div {
        opacity: 1;
        max-height: 500px !important;
        transition: max-height 500ms linear, opacity 250ms linear 500ms;
    }
}

.expansion-exit {
    &,
    & td>div {
        opacity: 1;
        max-height: 500px;
    }
    &.expansion-exit-active,
    &.expansion-appear-active>td>div {
        opacity: 0.01;
        max-height: 0; // overflow: hidden;
        transition: max-height 500ms linear 250ms, opacity 250ms linear;
    }
}

.expansion-leave {
    &,
    & td>div {
        opacity: 1;
        max-height: 0 !important;
    }
    &.expansion-leave-active,
    &.expansion-appear-active td>div {
        opacity: 0.01;
        max-height: 0;
        transition: max-height 500ms linear, opacity 250ms linear;
    }
}

.popping-appear {
    top: 150%;
    transform: translateY(-50%);
    &.popping-appear-active,
    &.popping-appear-active td>div {
        top: 50%;
        transition: top 500ms ease-in-out;
    }
}

.popping-enter {
    top: 150% !important;
    transform: translateY(-50%);
    &.popping-enter-active,
    &.popping-enter-active {
        top: 50%;
        transition: top 500ms ease-in-out;
    }
}

.popping-leave {
    top: 50%;
    transform: translateY(-50%);
    &.popping-leave-active,
    &.popping-leave-active {
        top: -50%;
        transition: top 500ms ease-in-out;
    }
}

.fade {
    &.fade-in {
        animation: fadein 500ms ease-in;
    }
    &.fade-out {
        animation: fadeout 250ms ease-out;
    }
}

@keyframes fadeout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fill {
    transition: top 0.1s ease-in, left 0.1s ease-in;
    .top-to-bottom:before,
    .left-to-right:before {
        content: '';
        position: absolute;
        background-color: blue;
        top: 100%;
        left: 0;
        right: 0;
        z-index: -1;
    }
    &.top-to-bottom.active {
        top: 0;
        transition: top 0.1s ease-in;
    }
    &.left-to-right.active {
        left: 0;
        transition: left 0.1s ease-in;
    }
}