$img-path: '/images/';

$blue-velvet: #142866;
$night-blue: #21409a;
$sky-blue: lighten($night-blue, 40%);
$neon-blue: #66afe9;
$orange: #ff8a00;
$light-orange: #FBB34E;
$light-grey: #e4e7f4;
$default-grey: #e6e6e6;

$basic-transition: color 0.2s ease-in, background-color 0.2s ease-out;
$basic-button-transition: color 0.2s ease-in, background-color 0.2s ease-in;

$basic-border-radius: 24px;
$little-border-radius: 12px;
/*
    layout
*/
$header-height: 50px;
$footer-height: 50px;

/*
    typography variables
*/
$h1-font-size: 32px;
$plain-text-font-size: 14px;
$fat-text-font-size: 16px;
$big-plain-text-font-size: 18px;

/*
    form elements
*/
$basic-input-height: 30px;
