.error-message-container {
  position: fixed;
  right: 10px;
  top: 100px;
  z-index: 102;
  max-width: 500px;
  .error-message {
    &__cross {
      position: absolute;
      top: 5px;
      right: 5px;
      background: transparent;
      border-radius: 50%;
      width: 21px;
      height: 25px;
      padding: 0;
      &:after {
        content: 'âŒ';
        position: absolute;
        color: white;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
    position: relative;
    min-width: 100px;
    margin-bottom: 10px;
    transition: 1s ease;
    max-height: 200px;
    overflow: hidden;
    text-align: right;
    h1,
    p {
      color: inherit;
      word-break: break-all;
    }
    & > div {
      padding: 1px 20px;
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      display: inline-block;
    }
    &_warning {
      background: opacify($yellow, 0.5);
    }
    & > * {
      color: inherit;
    }
    &.hidden {
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      margin: 0;
    }
  }
}
