.vcenter {
  display: flex;
  align-items: center;
}

#productName {
  margin-top: 3px;
}

.deleteGeneral {
  display: block;
  margin: 10px auto;
}

.general-block {
  .flex-item {
    padding: 3px;
  }
  .markets-list {
    i {
      font-style: normal;
      &.green {
        color: green;
      }
    }
  }
  .custom-checkbox {
    display: inline-block;
    & + .custom-checkbox {
      margin-left: 10px;
    }
    .mark {
      transition: 0.3s ease;
      display: inline-block;
    }
    input.success ~ .mark {
      @include success;
    }
    input.error ~ .mark {
      @include error;
    }
  }
}

#brands {
  margin-top: 8px;
}

#restrictions-block {
  & * {
    box-sizing: border-box;
    //line-height: 30px;
  }
  & select:focus {
    outline: none;
  }
  .row {
    padding: 10px 0 10px 0;
  }
  input {
    padding: 0 10px;
    padding-right: 30px;
    &[data-type='date'] {
      @include datepickerField;
      margin-left: 0;
    }
    &.multiple {
      margin-top: 10px;
      position: relative;
      &.active,
      &:focus {
        & + .arrow {
          transform: rotate(180deg);
        }
        & ~ .multiple-choice {
          transform: scale3d(1, 1, 1);
          box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
        }
      }
      & + .arrow {
        transform-origin: 70% center;
        transition: 0.3s ease;
        position: absolute;
        cursor: pointer;
        outline: none;
        width: 25px;
        height: 25px;
        bottom: 3px;
        right: 75px;
        z-index: 1;
        background: url('#{$img-path}select-arrow.png') 95% 50% no-repeat;
        * {
          pointer-events: none;
        }
      }
    }
    &[type='text'],
    &[type='number'] {
      & + .length {
        opacity: 1;
        color: $blue;
        transition: 0.3s linear;
        position: absolute;
        content: attr(data-length);
        background: transparent;
        height: 57%;
        right: 60px;
        top: 10px;
      }
    }
  }
  .multiple-choice {
    table {
      width: 100%;
      td {
        vertical-align: top;
      }
    }
    &:focus {
      transform: scale3d(1, 1, 1);
      box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
    }
    &.big {
      max-width: 920px;
      min-width: 200px;
    }
    & > label {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      float: none;
    }
    outline: none;
    position: absolute;
    transition: 0.1s ease;
    transform: scale3d(1, 0, 1);
    transform-origin: top;
    padding: 5px 20px;
    border: 1px solid $grey;
    background: white;
    z-index: 3;
    .checkbox {
      display: block;
      cursor: pointer;
      position: relative;
      padding-left: 20px;
      min-width: 100px;
      @include checkbox;
      .mark {
        top: 2px;
        left: 2px;
      }
    }
  }
  .additional-fields {
    &.hidden {
      margin: 0;
    }
    &.hidden * {
      display: none;
    }
    margin: 5px 0 5px 0;
    padding: 0;
    .lifecycle-date {
      margin: 5px 0 5px 0;
      &:empty {
        display: none;
      }
    }
    button.plus {
    }
    div.popup {
      top: 0;
    }
    button.delete {
      left: -40px;
      bottom: 0;
    }
  }
  .form-control {
    &:not(textarea) {
      height: $line-height;
    }
    // need check
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    float: none;
  }
  .bordered {
    border: 3px solid $grey;
    border-radius: 8px;
    background-color: white;
    transition: 1s ease;
    & + .select2 {
      transition: 1s ease;
    }
    &.success {
      & + .chosen-container,
      & + .select2 {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
      }
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
      &:not(textarea) {
        background-color: lighten(#67b168, 20%);
      }
    }
    &.error {
      & + .chosen-container,
      & + .select2 {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $light-red;
      }
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $light-red;
      background-color: lighten($light-red, 20%);
    }
  }
}
